<center>
  <div class="center hero-unit">
    <h1>Welcome</h1>

    <h2>
      To discover the things inside SignUp immediately
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
                                <br/>
                                <br/>
    <%= link_to "Sign In!", signin_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<br/>
  <br/>
   
  <div>
    <h2>Find the location of the IP address</h2>
    
      <%= form_tag( {:action => 'search'}, :remote => true, :id => 'myform') do %>
       <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search"%>
       </p>
      <% end %>
  </div>
  <div id="results"></div>
 <br/>
<br/>

<div id="googleMap" style="width:950px;height:500px;"></div>
</center>

<script
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>
<script>
var map;
function initialize()
{
  
  if (navigator.geolocation)
    {
      navigator.geolocation.getCurrentPosition(function(position){
        console.log(position.coords.latitude);
        var center = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
        var mapProp = {
        center:center,
        zoom:2,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
        
      });
    }
    else    
    console.log(center);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>